body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  width: 40px;
  height: 40px;
}

.item1 {
  border: 1px solid #6c8ebf;
  background-color: #dae8fc;
}
.item1:focus {
  border-radius: 100%;
}
.item2 {
  border: 1px solid #82b366;
  background-color: #d5e8d4;
}
.item2:focus {
  border-radius: 100%;
}
.item3 {
  border: 1px solid #b85450;
  background-color: #f8cecc;
}
.item3:focus {
  border-radius: 100%;
}
.item4 {
  border: 1px solid #9673a6;
  background-color: #e1d5e7;
}
.item4:focus {
  border-radius: 100%;
}
.item5 {
  border: 1px solid #d6b656;
  background-color: #fff2cc;
}
.item5:focus {
  border-radius: 100%;
}

.card-azul {
  background-color: #dae8fc;
}

.card-verde {
  background-color: #d5e8d4;
}

.card-rojo {
  background-color: #f8cecc;
}

.card-morado {
  background-color: #e1d5e7;
}

.card-amarillo {
  background-color: #fff2cc;
}

.img-notfound {
  width: 100%;
  object-fit: cover;
}

.fondo-home {
  background-image: url("/src/assets/calendar.png");
  background-size: cover;
  background-position: center;
}
